body, html {
	height: 100%;
}
.bg {
	/* Location of the image */
	background-image: url("http://www.revistacrisis.com/sites/revistacrisis.prod.devshop.nimblersoft.com/files/2018-12/kohler%20imagen%20.jpg");
	
	/* Background image is centered vertically and horizontally at all times */
	background-position: center center;
	
	/* Background image doesn't tile */
	background-repeat: no-repeat;
	
	/* Background image is fixed in the viewport so that it doesn't move when 
	   the content's height is greater than the image's height */
	background-attachment: fixed;
	
	/* This is what makes the background image rescale based
	   on the container's size */
	background-size: cover;
	
	/* Set a background color that will be displayed
	   while the background image is loading */
	background-color: #464646;
	height: 100%;
  }

  @media only screen and (max-width: 767px) {
	body {
	  /* The file size of this background image is 93% smaller
		 to improve page load speed on mobile internet connections */
	  background-image: url('https://hdwallpaperspage.com/full/1160763-most-popular-iphone-5s-wallpapers-hd-1242x2208-for-iphone-6.jpg');
	}
  }