/* mobile-first layout */
.carrusel{
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img {
    width: 10px;
}
/* tablet layout */
@media (min-width: 50em) {
	img {
		width: 20px;
	}
}

/* desktop layout */
@media (min-width: 75em) {
	img {
		width: 20px;
	}
}