<form #f ="ngForm" (ngSubmit)="submit(f)">
    <div class="imgcontainer">
      <img src="" alt="#AquiSeLosLlevaron" class="Logo">
    </div>
  
    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" [(ngModel)]="usuario" placeholder="Enter Username" name="username" required>    
  
      <label for="password"><b>Password</b></label>
      <input type="password" [(ngModel)]="contra" placeholder="Enter Password" name="password" required>
    </div>
  
    <button type="submit" [disabled]="!f.valid">Login</button>
 
</form>

<div class="container registrarse">
  <p>¿Aun no tiene cuenta? <a href="#" routerLink="/registro" >Registro</a>.</p>
</div>