<div class="container mt-5">
  <div class="row">
      <div class="col-4">
          <div class="form-group">
              <input type="text" name="" id="searchNombre" class="form-control" placeholder="Nombre"
                  aria-describedby="helpId">
              <input type="text" name="" id="searchEdad" class="form-control mt-2" placeholder="Edad"
              aria-describedby="helpId">
              <input type="text" name="" id="searchEstado" class="form-control mt-2" placeholder="Estado"
              aria-describedby="helpId">
              <input type="radio" name="sexo" id="searchHombre" aria-describedby="helpId"> Hombre
              <input type="radio" name="sexo" id="searchMujer" aria-describedby="helpId"> Mujer
              <br>
              <input type="checkbox" id="searchStatus" aria-describedby="helpId"> Encontrado
          </div>
      </div>

      <div class="col-2">
        <button type="button" id="btBuscar" class="btn btn-primary btn-lg px-5">
            Buscar
        </button>

        <button (click) ="crear()" type="button" id="btCrear" class="btn btn-primary btn-lg mt-2" data-toggle="modal" data-target="#modelId">
            Crear Entrada
        </button>
      </div>
     
</div>

<div class="row options">
  <div class="btn-group ml-5 search-options" data-toggle="buttons">
      <label class="btn btn-dark">
          <input type="checkbox" name="" id="" value="1"  autocomplete="off">
          Nombre
      </label>
      <label class="btn btn-dark">
          <input type="checkbox" name="" id="" value="2" autocomplete="off">
          Sexo
      </label>
      <label class="btn btn-dark">
          <input type="checkbox" name="" id="" value="3" autocomplete="off">
          Edad
      </label>
      <label class="btn btn-dark">
          <input type="checkbox" name="" id="" value="3" autocomplete="off">
          Estado
      </label>
      <label class="btn btn-dark">
          <input type="checkbox" name="" id="" value="3" autocomplete="off">
              Estatus
      </label>
  </div>
</div>

<app-desaparecido *ngFor = "let d of desaparecidxs" [desaparecidx]="d"
    (mostrarDetalles)="mostrarDetalle($event)"
    (editarDesap)="editar($event)">
</app-desaparecido>
