<div class="container mt-5">
    <div class="row">
        <form #f="ngForm" (ngSubmit)="filtrarNombre(f)">
            <div class="col-4">
                <div class="form-group">
                    <input type="text" name="name" [(ngModel)]="nameSearch" id="searchNombre" class="form-control"
                        placeholder="Nombre" aria-describedby="helpId">
                    <input type="text" name="edad" [(ngModel)]="edadSearch" id="searchEdad" class="form-control mt-2"
                        placeholder="Edad" aria-describedby="helpId">
                    <input type="text" name="estado" [(ngModel)]="estadoSearch" id="searchEstado"
                        class="form-control mt-2" placeholder="Estado" aria-describedby="helpId">
                    <input type="radio" name="sexo" id="searchHombre" aria-describedby="helpId" checked> Hombre
                    <input type="radio" name="sexo" id="searchMujer" aria-describedby="helpId"> Mujer
                    <br>
                    <input type="checkbox" name="encontrado" [(ngModel)]="statusSearch" id="searchStatus"
                        aria-describedby="helpId"> Encontrado
                </div>
            </div>

            <div class="col-2">
                <input type="submit" id="btBuscar" class="btn btn-primary btn-lg px-5" value="Buscar">

                <button *ngIf='modo < 3 && modo > -1' (click)="crear()" type="button" id="btCrear"
                    class="btn btn-primary btn-lg mt-2" data-toggle="modal" data-target="#modelId">
                    Crear Entrada
                </button>
            </div>
        </form>
    </div>

    <div class="row options">
        <div class="btn-group ml-5 search-options" data-toggle="buttons">
            <label class="btn btn-dark">
                <input type="checkbox" name="cknom" [(ngModel)]="cknom" id="" value="1" autocomplete="off">
                Nombre
            </label>
            <label class="btn btn-dark">
                <input type="checkbox" name="cksex" [(ngModel)]="cksex" id="" value="2" autocomplete="off">
                Sexo
            </label>
            <label class="btn btn-dark">
                <input type="checkbox" name="ckedad" [(ngModel)]="ckedad" id="" value="3" autocomplete="off">
                Edad
            </label>
            <label class="btn btn-dark">
                <input type="checkbox" name="ckedo" [(ngModel)]="ckedo" id="" value="3" autocomplete="off">
                Estado
            </label>
            <label class="btn btn-dark">
                <input type="checkbox" name="ckest" [(ngModel)]="ckest" id="" value="3" autocomplete="off">
                Estatus
            </label>
        </div>
    </div>

    <app-desaparecido *ngFor="let d of desaparecidxs" 
                      [desaparecidx]="d" 
                      (mostrarDetalles)="mostrarDetalle($event)"
                      (editarDesap)="editar($event)">
    </app-desaparecido>