#modelo{
    border:1px solid #151b1d;
    padding:5px 20px; 
    border-radius: 5px; 
    box-shadow:0px 2px 1px rgba(0,0,0,0.04); 
    background:rgb(136, 158, 253);
    padding-right: 50px;
    font: 100% monospace;
}

p{
    color: rgb(245, 239, 239);
}

.enc{
    color: green;
}

.estatus{
    color: red;
}